.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 3% 5% 1.5%;
}
.direction {
  flex-direction: column-reverse;
}
.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

/* tablet */
@media screen and (min-width: 900px) {
  .direction {
    flex-direction: row;
  }
}
